
.vscode
.history
dataset/clickbait_dataset/vectorized_word2vec10k.json
dataset/clickbait_dataset/vectorized_word2vec20k.json
dataset/clickbait_dataset/300dims_vectorized_spacy10k.json
dataset/clickbait_dataset/300dims_vectorized_spacy20k.json
dataset/clickbait_dataset/vectorized_roberta10k.json
dataset/clickbait_dataset/vectorized_roberta20k.json
dataset/clickbait_dataset/vectorized_roberta20k.zip
dataset/fakenews_dataset/Fake.csv
dataset/fakenews_dataset/True.csv
dataset/fakenews_dataset/manual_testing.csv
dataset/clickbait_dataset/300dims_vectorized_spacy20k/300dims_vectorized_spacy20k.json
dataset/fakenews_dataset/300dims_vectorized_spacy5k.json
dataset/fakenews_dataset/300dims_vectorized_spacy10k.json
dataset/fakenews_dataset/300dims_vectorized_spacy20k.json
dataset/fakenews_dataset/300dims_vectorized_spacy20k.zip
dataset/fakenews_dataset/300dims_vectorized_spacy10k/300dims_vectorized_spacy10k.json
dataset/fakenews_dataset/300dims_vectorized_spacy5k/300dims_vectorized_spacy5k.json
dataset/fakenews_dataset/300dims_vectorized_spacy20k/300dims_vectorized_spacy20k.json
dataset/fakenews_dataset/300dims_vectorized_spacy20k/300dims_vectorized_spacy20k.json
dataset/fakenews_dataset/labels.tab
dataset/fakenews_dataset/nela-gt-2019.db.tar.bz2
dataset/fakenews_dataset/nela-gt-2019.json.tar.bz2
dataset/fakenews_dataset/README-1.md
dataset/fakenews_dataset/README.md
dataset/fakenews_dataset/source-metadata.json
dataset/fakenews_dataset/nelagt/labels.tab
dataset/fakenews_dataset/nelagt/nela-gt-2019.db.tar.bz2
dataset/fakenews_dataset/nelagt/nela-gt-2019.json.tar.bz2
dataset/fakenews_dataset/nelagt/README-1.md
dataset/fakenews_dataset/nelagt/README.md
dataset/fakenews_dataset/nelagt/source-metadata.json
dataset/fakenews_dataset/nelagt
dataset/fakenews_dataset/labels.tab
dataset/fakenews_dataset/nela-gt-2019.db.tar.bz2
dataset/fakenews_dataset/nela-gt-2019.json.tar.bz2
dataset/fakenews_dataset/README-1.md
dataset/fakenews_dataset/README.md
dataset/fakenews_dataset/source-metadata.json
dataset/fakenews_dataset/nelagt/labels.tab
dataset/fakenews_dataset/nelagt/nela-gt-2019.db.tar.bz2
dataset/fakenews_dataset/nelagt/nela-gt-2019.json.tar.bz2
dataset/fakenews_dataset/nelagt/README-1.md
dataset/fakenews_dataset/nelagt/README.md
dataset/fakenews_dataset/nelagt/source-metadata.json
dataset/fakenews_dataset/nelagt
dataset/clickbait_dataset/vectorized_roberta20k.zip
dataset/clickbait_dataset/vectorized_roberta20k.json
dataset/fakenews_dataset/fakenews_roberta_44k.json
dataset/fakenews_dataset/fakenews_roberta_44k.json.zip
dataset/fakenews_dataset/labels.tab
dataset/fakenews_dataset/nela-gt-2019.db.tar.bz2
dataset/fakenews_dataset/nela-gt-2019.json.tar.bz2
dataset/fakenews_dataset/README-1.md
dataset/fakenews_dataset/README.md
dataset/fakenews_dataset/source-metadata.json
dataset/fakenews_dataset/nelagt/labels.tab
dataset/fakenews_dataset/nelagt/nela-gt-2019.db.tar.bz2
dataset/fakenews_dataset/nelagt/nela-gt-2019.json.tar.bz2
dataset/fakenews_dataset/nelagt/README-1.md
dataset/fakenews_dataset/nelagt/README.md
dataset/fakenews_dataset/nelagt/source-metadata.json
dataset/fakenews_dataset/nelagt
dataset/clickbait_dataset/vectorized_roberta20k.zip
dataset/clickbait_dataset/vectorized_roberta20k.json
dataset/fakenews_dataset/fakenews_roberta_44k.json
src/fakenews/naive_bayes_withcb44k.pkl
